/**
 * Gerson Colors scss -
 * Version: 1.0.0
 *
 * Colors - Including base colors and creating color mixins
 *
 * Gerson Straver - gerson-straver@live.nl
 */

/**
 * Registering base colors we use on our site.
 *
 * Usage exmaple: $primarycolor
 */

$primarycolor: #2980B9;
$secondary-blue: #2C3E50;
$secondary-red: #E74C3C;
$green: #2ec74a;
$bgcolor: #ECF0F1;
$linkcolor: #3498DB;
$textprimarycolor: #FFF;
$textsecondarycolor: #515f67;
$black: #000000;
$white: #FFFFFF;
$gray: #222222;


/**
 * Mixin & Classes for the background colors
 *
 * Usage exmaple: @include bgcolor($red) or classname .primaryColor;
 */

@mixin bgcolor($color) {
  background: $color;
}

.primaryColor {
  @include bgcolor($primarycolor);
}

.secondary-Blue {
  @include bgcolor($secondary-blue);
}

.secondary-Red {
  @include bgcolor($secondary-red);
}

.secondary-Grey {
  @include bgcolor($textsecondarycolor);
}

.black {
  @include bgcolor($black);
}

.white {
  @include bgcolor($white);
}

.bgcolor {
  @include bgcolor($bgcolor);
}

.linkcolor {
  @include bgcolor($linkcolor);
}


/**
 * Mixin & Classes for the text colors
 *
 * Usage exmaple: @include textcolor($white) or classname .text-primaryColor;
 */

@mixin textcolor($color) {
  color: $color;
}

.text-primaryColor {
  @include textcolor($primarycolor);
}

.text-secondary-blue {
  @include textcolor($secondary-blue);
}

.text-secondary-red {
  @include textcolor($secondary-red);
}

.text-bgcolor {
  @include textcolor($bgcolor);
}

.text-black {
  @include textcolor($black);
}

.text-white {
  @include textcolor($white);
}

.text-linkcolor {
  @include textcolor($linkcolor);
}

.text-green {
  @include textcolor($green);
}


