/**
 * Zowie Effects -
 * Version: 1.0.0
 *
 * Effects and animation crossbrowser
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */

@import "colors";
@import "fonts";
@import "typography";

/**
 * Mixin for the opacity for all browsers
 *
 * Usage exmaple: @include opacity(0.8);
 */

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/**
 * Mixin for transitions can be used on button hovers etc..
 *
 * Usage exmaple: @include transition(color .3s ease);
 */

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/**
 * Mixin for creating size
 *
 * Usage exmaple: @include size(350px);
 */

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

/**
 * Mixin for creating text shadow
 *
 * Usage exmaple: @include text-shadow(0.8);
 */

@mixin text-shadow($val) {
  text-shadow: rgba(255, 255, 255, $val) 0 1px 0;
}

/**
 * Mixin for creating link effects with color, visited, hover, active
 *
 * Usage exmaple: @include link-style(red, green, blue, red);
 */

@mixin link-style($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

@mixin menu-button($border-color) {
  border: 2px solid $black;
  padding: 6px 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border: 2px solid $border-color;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }

  &:active {
    border: 2px solid $border-color;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    border: 2px solid $border-color;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: $primarycolor;
  }
}

/**
 * Mixin for border radius in total
 *
 * Usage Exmaple: @include border-radius(10px)
 *
 */


@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


/**
 * Mixin for Button
 *
 * Usage Exmaple: .btn
 *
 */

.btn {
  color: $primarycolor;
  text-decoration:none;
  padding:10px 15px;
  border-radius:3px;
  text-transform: uppercase;
  @include font-size-new(20px);
  @include Open-Sans-bold;
}

/**
 * Responsive img class
 *
 * Usage Exmaple: .img-resp
 *
 */

.img-resp {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Mixin for box shadow
 *
 * Usage Exmaple: @include box-shadow(10px);
 *
 */

@mixin box-shadow($px) {
  -webkit-box-shadow:0 0 $px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 $px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 $px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  @include box-shadow(10px);
}