/**
 * Zowie Open Sans SCSS -
 * Version: 1.0.0
 *
 * Open sans font-face based on sass
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */


/**
 * Font Variables
 *
 * Setting up the font name and path
 */

$font-path: "../fonts/open-sans/";
$font-name: "open-sans";
$font-version: "v13";
$font-charset: "latin";
$font-separator: "-";

$font-set: $font-name+$font-separator+$font-version+$font-separator+$font-charset+$font-separator;

/**
 * Mixin for generating a font face
 *
 * Generating a standard font face
 */

@mixin font-face($family, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$font-path+$font-set+$file}.eot");
    src: url("#{$font-path+$font-set+$file}.eot?#iefix") format("embedded-opentype"),
    url("#{$font-path+$font-set+$file}.woff") format("woff"),
    url("#{$font-path+$font-set+$file}.woff2") format("woff2"),
    url("#{$font-path+$font-set+$file}.ttf") format("truetype"),
    url("#{$font-path+$font-set+$file}.svg##{$family}") format("svg");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(Open-Sans-light, light, 300);
@include font-face(Open-Sans-light-italic, light-italic, 300, italic);
@include font-face(Open-Sans-regular, regular, 400);
@include font-face(Open-Sans-italic, italic, 400, italic);
@include font-face(Open-Sans-semibold, semibold, 600);
@include font-face(Open-Sans-semibold-italic, semibold-italic, 600, italic);
@include font-face(Open-Sans-bold, bold, 700);
@include font-face(Open-Sans-bold-italic, bold-italic, 700, italic);
@include font-face(Open-Sans-extrabold, extrabold, 800);
@include font-face(Open-Sans-extrabold-italic, extrabold-italic, 800, italic);


/**
 * Mixins for generating fonts
 *
 * Generating a font with options like font-family, font-weight, font-style
 */


@mixin Open-Sans-light {
  font-family: "Open-Sans-light";
  font-weight: 300;
}

@mixin Open-Sans-light-italic {
  font-family: "Open-Sans-light-italic";
  font-weight: 300;
  font-style: italic;
}

@mixin Open-Sans-regular {
  font-family: "Open-Sans-regular";
  font-weight: 400;
  font-style: normal;
}

@mixin Open-Sans-italic {
  font-family: "Open-Sans-italic";
  font-weight: 400;
  font-style: italic;
}

@mixin Open-Sans-semibold {
  font-family: "Open-Sans-semibold";
  font-weight: 600;
  font-style: normal;
}

@mixin Open-Sans-semibold-italic {
  font-family: "Open-Sans-semibold-italic";
  font-weight: 600;
  font-style: italic;
}

@mixin Open-Sans-bold {
  font-family: "Open-Sans-bold";
  font-weight: 700;
  font-style: normal;
}

@mixin Open-Sans-bold-italic {
  font-family: "Open-Sans-bold-italic";
  font-weight: 700;
  font-style: italic;
}

@mixin Open-Sans-extrabold {
  font-family:"Open-Sans-extrabold";
  font-weight: 800;
  font-style: normal;
}

@mixin Open-Sans-extrabold-italic {
  font-family:"Open-Sans-extrabold-italic";
  font-weight: 800;
  font-style: italic;
}


/**
 * Classes for each fontface
 *
 * Generating classes for different font-family's and their options
 */


.open-Sans-light {
  @include Open-Sans-light;
}

.open-Sans-light-italic {
  @include Open-Sans-light-italic;
}

.open-Sans-regular {
  @include Open-Sans-regular;
}

.open-Sans-italic {
  @include Open-Sans-italic;
}

.open-Sans-semibold {
  @include Open-Sans-semibold;
}

.open-Sans-semibold-italic {
  @include Open-Sans-semibold-italic;
}

.open-Sans-bold {
  @include Open-Sans-bold;
}

.open-Sans-bold-italic {
  @include Open-Sans-bold-italic;
}

.open-Sans-extrabold {
  @include Open-Sans-extrabold
}

.open-Sans-extrabold-italic {
  @include Open-Sans-extrabold-italic
}