/**
 * Rik Wolsheimer - Footer
 * Version: 1.0.0
 *
 * Footer stylesheet
 *
 * Rik Wolsheimer - .....
 */

@import "colors";
@import "fonts";

.footer {
  width: 100%;
  & #footer {
    #legenda {
      font-size: 15px;
      line-height: 22px;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 60px;
      @include textcolor($white);
      @include Open-Sans-bold;
    }
    #namen{
      font-size: 15px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 60px;
      @include Open-Sans-regular;
      @include textcolor($white);
      @include Open-Sans-light;
    }

    #groep{
      font-size: 15px;
      margin-top: 10px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 60px;
      @include textcolor($white);
      @include Open-Sans-bold;
    }
    a {
      text-decoration: none;
      color: $white;
    }
  }
}

#back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0;
  transition: opacity 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  opacity: 1;
  z-index: 999;
  display: none;
}