/**
 * Zowie Flex Grid -
 * Version: 1.0.0
 *
 * Grid based on 12 columns and sass.
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */

/**
 * Grid setup
 *
 * $zg-cols string used for the columns you want
 * $zg-gutter string used for the gutter space between the grid cols
 *
 * $zg-row string used for the row class
 * $zg-grid string used for the grid class
 * $zg-offset string used for the offset class
 */

@import "colors";

$zg-cols: 12 !default;
$zg-gutter: 30px !default;

$zg-row: 'row' !default;
$zg-grid: 'grid' !default;
$zg-offset: 'offset' !default;

/**
 * Break point namespace object
 *
 * Generating break points for different resolutions
 */
$zg-breakpoints: (
                (xs),
                (sm, 768px),
                (md, 992px),
                (lg, 1200px)
) !default;

$menu-lg: 1200px;
$menu-md: 992px;
$menu-sm: 768px;

body {
  margin: 0;
  padding: 0;
  @include bgcolor($primarycolor);
}

* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
}

@mixin container-fixed-alignment() {
  margin-right: auto;
  margin-left: auto;
}

@mixin new-container() {

  @include container-fixed-alignment();

  @media (min-width: $menu-sm) {
    width: $menu-sm;
  }
  @media (min-width: $menu-md) {
    width: $menu-md;
  }
  @media (min-width: $menu-lg) {
    width: $menu-lg;
  }
}

.container {
  @include new-container();
}

/**
 * Generate col percentage based on cols
 */
@function calculate-percent($column-count) {

  @return $column-count / $zg-cols * 100%;

}

/**
 * Mixin for margins
 */
@mixin spacing( $value, $type: margin, $orientation: vertical ) {
  @if $orientation == vertical {
    #{$type}-top: $value;
    #{$type}-bottom: $value;
  } @else {
    #{$type}-left: $value;
    #{$type}-right: $value;
  }
}

/**
 * Generating Row and Grid based on flex.
 */
.#{$zg-row} {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include spacing((-$zg-gutter / 2), margin, horizontal);
}

%#{$zg-grid} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  @include spacing(($zg-gutter / 2), padding, horizontal);
}

%#{$zg-grid}-flex {
  @extend %#{$zg-grid};
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/**
 * Generating the grid based on columns
 *
 * .#{ $zg-grid }-[namespace] for columns
 * .#{ $zg-grid }-[namespace]-[number] for grid with grid numbers use 1-12
 * .#{ $zg-offset }-[namespace]-[number] for using the grid with offset pull it between 1-11
 */

@mixin grid-base( $namespace ) {
  .#{$zg-grid}-#{$namespace} {
    @extend %#{$zg-grid}-flex;
  }

  @for $i from 1 through $zg-cols {
    .#{$zg-grid}-#{$namespace}-#{$i} {
      @extend %#{$zg-grid};
    }
  }
}

@mixin grid-sizes( $namespace ) {

  // Loop for the columns
  @for $i from 1 through $zg-cols {
    .#{$zg-grid}-#{$namespace}-#{$i} {
      flex-basis: calculate-percent($i);
      max-width: calculate-percent($i);
    }
  }

  @for $i from 1 through $zg-cols {

    // Method for removing the last offset
    @if ($i != $zg-cols) {
      .#{$zg-offset}-#{$namespace}-#{$i} {
        margin-left: calculate-percent($i);
      }
    }

  }

}

/**
 * Building the grid from the namespsaces and wrap all the col width/offset in mediaquerys
 */
@each $val in $zg-breakpoints {

  $namespace: nth($val, 1);
  @include grid-base($namespace);

}

@each $val in $zg-breakpoints {
  @if length($val) == 1 {

    $namespace: nth($val, 1);
    @include grid-sizes($namespace);

  } @else {

    $namespace: nth($val, 1);
    $size: nth($val, 2);

    @media only screen and (min-width: #{$size}) {
      @include grid-sizes($namespace);
    }
  }
}