/**
 * Zowie Margin and Padding helpers
 * Version: 1.0.0
 *
 * Use this scss file for creating margins & paddings
 * with $amounts you can count up till its enough
 *
 * Margins:
 * mt-x using margin top with number (example: mt-50) this will add 50px margin from the top
 * mb-x using margin bottom with number (example: mb-50) this will add 50px margin from the bottom
 * ml-x using margin left with number (example: ml-50) this will add 50px margin from the left
 * mr-x using margin right with number (example: mr-50) this will add 50px margin from the right
 *
 * Paddings:
 * pt-x using padding top with number (example: pt-50) this will add 50px padding from the top
 * pb-x using padding bottom with number (example: pb-50) this will add 50px padding from the bottom
 * pl-x using padding left with number (example: pl-50) this will add 50px padding from the left
 * pr-x using padding right with number (example: pr-50) this will add 50px padding from the right
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */

/**
 * Define amounts
 */

$amounts: (5, 10, 15, 20, 25, 30, 35 ,40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);


/**
 * Margins top/bottom/left/right
 */

@mixin generate-margin-top() {
  @each $space in $amounts {
    .mt-#{$space} {
      margin-top: #{$space}px;
    }
  }
}
@mixin generate-margin-bottom() {
  @each $space in $amounts {
    .mb-#{$space} {
      margin-bottom: #{$space}px;
    }
  }
}
@mixin generate-margin-left() {
  @each $space in $amounts {
    .ml-#{$space} {
      margin-left: #{$space}px;
    }
  }
}
@mixin generate-margin-right() {
  @each $space in $amounts {
    .mr-#{$space} {
      margin-right: #{$space}px;
    }
  }
}


/**
 * Padding top/bottom/left/right
 */

@mixin generate-padding-top() {
  @each $space in $amounts {
    .pt-#{$space} {
      padding-top: #{$space}px;
    }
  }
}
@mixin generate-padding-bottom() {
  @each $space in $amounts {
    .pb-#{$space} {
      padding-bottom: #{$space}px;
    }
  }
}
@mixin generate-padding-left() {
  @each $space in $amounts {
    .pl-#{$space} {
      padding-left: #{$space}px;
    }
  }
}
@mixin generate-padding-right() {
  @each $space in $amounts {
    .pr-#{$space} {
      padding-right: #{$space}px;
    }
  }
}

/**
 * No padding class
 */

.no-p {
  padding: 0;
}

/**
 * No Margin class
 */

.no-m {
  margin: 0;
}

/**
 * Center Element
 */

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Center Element Block
 */

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 *
 * Align in different directions
 *
 * Usage Example: @include align(vertical) || @include align(horizontal) || @include align(none) || @include align()
 */

@mixin align($direction: both) {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  @if index("horizontal" "h", $direction) {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  } @else if index("vertical" "v", $direction) {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  } @else if index("none", $direction) {
    top: auto;
    left: auto;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

/**
 * Generate margins from method
 */

@include generate-margin-top();
@include generate-margin-bottom();
@include generate-margin-left();
@include generate-margin-right();


/**
 * Generate paddings from method
 */

@include generate-padding-top();
@include generate-padding-bottom();
@include generate-padding-left();
@include generate-padding-right();