/**
 * Rik Wolsheimer - Informatie
 * Version: 1.0.0
 *
 * Informatie stylesheet
 *
 * Rik Wolsheimer - .....
 */

@import "colors";
@import "fonts";

.informatie {
  width: 100%;
  & #informatie {
    & h3 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include textcolor($white);
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $white;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & p {
      margin-top: 25px;
      margin-bottom: 80px;
      text-align: center;
      @include textcolor($white);
      @include Open-Sans-light;
    }
  }
}
