/**
 * Zowie Kiesmannen -
 * Version: 1.0.0
 *
 * Kiesmannen stylesheet
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */
@import "colors";
@import "fonts";
@import "typography";

.kiesmannen {
  width: 100%;
  & #kiesmannen {
    & h3 {
      color: $gray;
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $gray;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & h1 {
      margin-top:30px;
      margin-bottom: 30px;
      text-align: center;
      color: $gray;
      @include font-size-new(110px);
      @include Open-Sans-light;
    }

    & .republikeinen, .democraten, .totaal-kiesmannen {
      & h4 {
        color: $gray;
        text-transform: uppercase;
        text-align: center;
        margin-top: 50px;
        @include Open-Sans-bold;
        & span {
          border-bottom: 2px solid $gray;
          padding-bottom: 3px;
          display: inline-block;
        }
      }

      & h2 {
        margin-top:30px;
        margin-bottom: 50px;
        text-align: center;
        color: $gray;
        @include font-size-new(100px);
        @include Open-Sans-light;
      }
    }

  }
}

