/**
 * Gerson Straver - Map USA
 * Version: 1.0.0
 *
 * Map USA stylesheet
 *
 * Gerson Straver - .....
 */

@import "colors";
@import "fonts";

.mapusa {
  width: 100%;
  & #mapusa {
    & h3 {
      color: $gray;
      @include textcolor($gray);
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $gray;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & p {
      margin-top: 25px;
      margin-bottom: 80px;
      text-align: center;
      color: $gray;
      @include Open-Sans-light;
    }
  }
}

.st0{fill:#C0C0C0;cursor:pointer;}
.st0:hover, .st1:hover{  fill:#CCCCCC;  }
.st0{fill:#C0C0C0;}
.st1{fill:#C0C0C0;stroke:#FFFFFF;}
.st2{@include Open-Sans-bold;pointer-events:none;}
.st3{font-size:28px;}
.st4{font-size:22px;}
.st5{stroke:#000000;stroke-width:1.6;}
.st6{fill:none;stroke:#A9A9A9;stroke-width:2;}
.st7{fill:#2980B9;}
.st8{fill:#2C3E50;}
.st9{fill:none;}
.st10{fill:#FFFFFF;}
.st11{@include Open-Sans-bold;}
.st12{font-size:24px;}
.st13{font-size:14px;}
.st14{font-size:45.4167px;}
.st15{font-size:26.4931px;}
.st16{font-size:45.216px;}
.st17{font-size:26.376px;}
.st18{font-size:46.7294px;}
.st19{font-size:27.2588px;}
.st20{font-size:41.2684px;}
.st21{font-size:24.0732px;}
.st22{font-size:40.6434px;}
.st23{font-size:23.7087px;}
.st24{font-size:41.8315px;}
.st25{font-size:24.4017px;}
.st26{font-size:43.8636px;}
.st27{font-size:25.5871px;}
.st28{font-size:43.8377px;}
.st29{font-size:25.572px;}
.st30{font-size:43.8457px;}
.st31{font-size:25.5767px;}
.st32{font-size:43.9755px;}
.st33{font-size:25.6524px;}
.st34{font-size:43.522px;}
.st35{font-size:25.3878px;}
.st36{font-size:43.7938px;}
.st37{font-size:25.5464px;}
.st38{font-size:46.767px;}
.st39{font-size:27.2808px;}
.st40{font-size:44.9521px;}
.st41{font-size:26.2221px;}
.st42{font-size:47.6852px;}
.st43{font-size:27.8164px;}
.st44{font-size:44.36px;}
.st45{font-size:25.8766px;}
.st46{font-size:47.4258px;}
.st47{font-size:27.665px;}
.st48{font-size:51.9895px;}
.st49{font-size:30.3272px;}
.st50{font-size:52.2352px;}
.st51{font-size:30.4706px;}
.st52{font-size:43.657px;}
.st53{font-size:25.4666px;}
.st54{font-size:50.709px;}
.st55{font-size:29.5803px;}
.st56{font-size:46.2333px;}
.st57{font-size:26.9694px;}
.st58{font-size:47.7064px;}
.st59{font-size:27.8287px;}
.st60{font-size:50.3591px;}
.st61{font-size:29.3761px;}
.st62{font-size:48.2787px;}
.st63{font-size:28.1626px;}
.st64{font-size:52.8128px;}
.st65{font-size:30.8075px;}
.st66{font-size:53.7582px;}
.st67{font-size:31.359px;}
.st68{font-size:49.1134px;}
.st69{font-size:28.6495px;}
.st70{font-size:49.004px;}
.st71{font-size:28.5857px;}
.st72{font-size:40.0813px;}
.st73{font-size:23.3808px;}
.st74{font-size:46.2886px;}
.st75{font-size:27.0017px;}
.st76{font-size:46.4832px;}
.st77{font-size:27.1152px;}
.st78{font-size:41.5323px;}
.st79{font-size:24.2271px;}
.st80{font-size:44.7182px;}
.st81{font-size:26.0856px;}
.st82{font-size:40.89px;}
.st83{font-size:23.8525px;}
.st84{font-size:41.3546px;}
.st85{font-size:24.1235px;}
.st86{font-size:52.2084px;}
.st87{font-size:30.4549px;}
.st88{font-size:44.0987px;}
.st89{font-size:25.7242px;}
.st90{font-size:37.9328px;}
.st91{font-size:22.1275px;}
.st92{font-size:45.0087px;}
.st93{font-size:26.2551px;}
.st94{font-size:42.7034px;}
.st95{font-size:24.9103px;}
.st96{font-size:53.7118px;}
.st97{font-size:31.3319px;}
.st98{font-size:49.2429px;}
.st99{font-size:28.725px;}
.st100{font-size:47.0962px;}
.st101{font-size:27.4728px;}
.st102{font-size:56.6234px;}
.st103{font-size:33.0303px;}
.st104{font-size:53.7992px;}
.st105{font-size:31.3828px;}
.st106{font-size:50.3544px;}
.st107{font-size:29.3734px;}
.st108{font-size:43.2828px;}
.st109{font-size:25.2483px;}
.st110{font-size:47.8058px;}
.st111{font-size:27.8867px;}
.st112{font-size:51.4742px;}
.st113{font-size:30.0266px;}
.st114{font-size:42.99px;}
.st115{font-size:25.0775px;}
.hideBalloon{display:none;}


/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and min-width: 1200px
 *
 */

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
