/**
 * Zowie Nav Bar -
 * Version: 1.0.0
 *
 * Navbar
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */


@import "colors";
@import "fonts";
@import "helpers";
@import "effects";
@import "typography";

$menu-lg: 1200px;
$menu-md: 992px;
$menu-sm: 768px;

$menu-height-desktop: 100px;
$menu-height-tablet: 185px;

.active {
  display: block;
}

.menu-wrapper {
  width: 100%;
  height: $menu-height-desktop;
  background: #000;
  z-index: 4;
}

.video nav {
  z-index: 3;
}

header {
  width: 100%;
  height: $menu-height-desktop;
  flex-direction: column;
  position: fixed;
  line-height: 40px;
  top:0;
}

#logo {
  line-height: 70px;
  position: relative;
  margin-top: ($menu-height-desktop - 44px) / 2;
}

.logo {
  width: 100px;
  height: 44px;
}

.hamburger {
  width: 25px;
}

.cross {
  display: none;
  width: 25px;
}

/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and min-width: 1200px
 *
 */


@media only screen and (max-width: 767px) {
  .menu {
    display: none;
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: -1px;
    @include bgcolor($black);

    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;

      & li {
        display: block;
        padding: 10px 0 10px 0;
        border-bottom: $gray 1px solid;

        & a {
          display: block;
          text-decoration: none;
          margin: 0px;
          color: #fff;
        }
      }

      & li:first-child {
        border-top: $gray 1px solid;
        @include link-style($white, $white, $primarycolor, $primarycolor);

        & a:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      & li:hover {
        display: block;
        border-bottom: $gray 1px solid;
        @include bgcolor($primarycolor);
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .menu-wrapper {
    width: 100%;
    height: $menu-height-tablet;
    background: #000;
    z-index: 999;
  }

  header {
    height: $menu-height-tablet;
    position: fixed;
    top:0;
  }

  #logo {
    text-align: center;
  }

  .hamburger-menu {
    display: none;
  }

  .menu {
    display: inherit!important;
  }

  .main-menu {
    height: $menu-height-desktop;
    & nav {
      background-color: transparent;
      display: block;
      @include center();

      & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        & li {
          border-bottom: none;
          text-transform: uppercase;
          padding: 0 0.5rem;
          line-height: 60px;
          @include Open-Sans-semibold;
          @include font-size-new(14px);
          @include link-style($white, $white, $primarycolor, $primarycolor);

          & a {
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;
            @include menu-button($primarycolor);
          }

        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .menu-wrapper {
    width: 100%;
    height: $menu-height-desktop;
    background: #000;
  }

  header {
    height: $menu-height-desktop;
    position: fixed;
    top:0;
  }

  .menu {
    display: block!important;
  }

  .main-menu {
    height: $menu-height-desktop;
    & nav {
      background-color: transparent;
      display: block;

      & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        & li {
          border-bottom: none;
          text-transform: uppercase;
          padding: 0 0.5rem;
          line-height: 100px;
          @include Open-Sans-semibold;
          @include font-size-new(14px);
          @include link-style($white, $white, $primarycolor, $primarycolor);

          & a {
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;
            @include menu-button($primarycolor);
          }

        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  header {
    height: $menu-height-desktop;
    position: fixed;
    top:0;
  }

  #logo {
    text-align: left;
  }

  .menu {
    display: block!important;
  }

  .main-menu {
    height: $menu-height-desktop;
    & nav {
      background-color: transparent;
      display: block;

      & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;

        & li {
          border-bottom: none;
          text-transform: uppercase;
          padding: 0 0.5rem;
          line-height: 100px;
          @include Open-Sans-semibold;
          @include font-size-new(14px);
          @include link-style($white, $white, $primarycolor, $primarycolor);

          & a {
            padding: 5px 10px;
            text-decoration: none;
            text-align: center;
            @include menu-button($primarycolor);
          }

        }
      }
    }
  }
}