/**
 * Gerson Straver - Stemmen
 * Version: 1.0.0
 *
 * Stemmen Stylesheet
 *
 * Gerson Straver - .....
 */

@import "colors";
@import "fonts";
@import "typography";

.stemmen {
  width: 100%;
  z-index: 150;
  & #stemmen {
    & h3 {
      color: $gray;
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $gray;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & h1 {
      margin-top:30px;
      margin-bottom: 30px;
      text-align: center;
      color: $gray;
      @include font-size-new(110px);
      @include Open-Sans-light;
    }

    & p {
      margin-top: 25px;
      margin-bottom: 80px;
      text-align: center;
      color: $gray;
      @include Open-Sans-light;
    }

    .btn-vote {
      text-align: center;
      line-height: 20px;
      height: 60px;
      background-color: #3498DB;
      color: #FFFFFF;
      text-transform: uppercase;
      border: 0;
      margin: 15px 0 15px 0;
      font-size: 20px;
      cursor: pointer;
      -webkit-appearance: none;
      @include Open-Sans-bold;

      &:hover {
        background-color: #2980b9;
        -webkit-transition: background-color .15s ease-in-out,color .15s ease-in-out;
        -moz-transition: background-color .15s ease-in-out,color .15s ease-in-out;
        -ms-transition: background-color .15s ease-in-out,color .15s ease-in-out;
        -o-transition: background-color .15s ease-in-out,color .15s ease-in-out;
        transition: background-color .15s ease-in-out,color .15s ease-in-out;
      }

      &:active {
        border: 2px #fff solid;
      }
    }
  }
}
.text-align-left{
  text-align: left !important;
}

.text-align-right{
  text-align: right !important;
}

h5 {
  color: $gray;
  text-transform: uppercase;
  @include Open-Sans-bold;
  font-size: x-large;
}

.hoofdletters h4 {
  text-transform: uppercase;
}

.grote-text {
  @include Open-Sans-bold;
}

.line-break hr{
  border-bottom: 1px solid #fff;
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.candidate-image {
  width: 100%;
  margin-bottom: auto;
}

.image-block {
  display: block;
}

.default-height-standpunten {
  height: 550px;
}

.candidate-info ul {
  list-style: disc inside;
  margin-bottom: 20px;
}

.candidate-info ul li {
  margin-bottom: 10px;
  line-height: 23px;
  @include Open-Sans-light;
}

#myProgressLeft {
  position: relative;
  width: 0;
  height: 70px;
  float: left;
}

#myBarLeft {
  height: 100%;
  background-color: #E74C3C;
}

#labelLeft {
  text-align: center;
  line-height: 70px;
  color: white;
}

#myProgressRight {
  position: relative;
  width: 0;
  height: 70px;
  float: right;
}

#myBarRight {
  height: 100%;
  background-color: #2C3E50;
}

#labelRight {
  text-align: center;
  line-height: 70px;
  color: white;
}

.hide{
  display: none;
}
.margin-top-clinton {
  margin-top: 4px;
}

.stemmen {
  padding-bottom: 0px!important;
}

/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and max-width: 991
 * media only screen and min-width: 1200px
 *
 */

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
  .stemmen {
    padding-bottom: 50px!important;
  }
  .default-height-standpunten{
       height: 400px;
     }
}

@media only screen and (max-width: 991px) {
  .margin-bottom-mobile-100 {
    margin-bottom: 100px;
  }

  .padding-none{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media only screen and (min-width: 992px) {
  .margin-left {
    margin-left: 15px;
  }

  .margin-right {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {

}