/**
 * Zowie Kiesmannen -
 * Version: 1.0.0
 *
 * Kiesmannen stylesheet
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */

@import "colors";
@import "fonts";
@import "typography";
@import "helpers";
@import "effects";

$imgWidth: 240px;
$borderWidthHeight: 220px;
$svgBig: 160px;

.stemhelper
{
  width: 100%;
  #stemhelper
  {
    & .stemhelper-result {
      display: none;
    }

    & h3
    {
      color: $white;
      @include textcolor($white);
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $white;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & .stemhelperP {
      margin-top: 25px;
      margin-bottom: 30px;
      text-align: center;
      color: $white;
      @include Open-Sans-light;
    }

    & .gestures {
      margin-bottom: 40px;
      -webkit-animation-name: movedown;
      -moz-animation-name: movedown;
      -o-animation-name: movedown;
      animation-name: movedown;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      z-index: 696;

      & .gesture-img {
        @include align(horizontal);
      }

      & .ges-tap {
        width: 70px;
        margin-top: 1px;
      }

      & .ges-press {
        width: 70px;
      }

      & .ges-press {
        -webkit-animation-name: press;
        -moz-animation-name: press;
        -o-animation-name: press;
        animation-name: press;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
      }
    }
  }

  #effect-1 .overlay {
    bottom: 0;
    left: 0;
    right: 0;
    width: $imgWidth;
    height: 0;
  }
  #effect-1 .overlay a.expand {
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto -30px auto;
  }
  #effect-1 .img.hover .overlay {
    height: 100%;
  }

  .effects .img {
    position: relative;
    float: left;
    margin-bottom: 50px;
  }

  .effects .img .imgBackground {
    display: block;
    margin: auto;
    padding: 0;
    width: $imgWidth;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    @include box-shadow(10px);
  }

  .overlay {
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    transition: all 0.5s;
    margin: auto;
  }

  .content-border {
    @include size($borderWidthHeight);
    border: 2px solid white;
    z-index: 60;
    margin: auto;
    margin-top: 10px!important;
  }

  .voteTxtTitle {
    text-align: center;
    height: 40px;
    margin: 0;
    @include font-size-new(14px);
    @include Open-Sans-bold;
    @include textcolor($white);
    padding: 10px 0px 0px 10px;
  }

  .voteTxt {
    text-align: center;
    padding: 10px 0px 0px 10px;
    height: 118px;
    @include font-size-new(14px);
    @include Open-Sans-light;
    @include textcolor($white);
  }

  .vote-yes {
    margin-left: 8px;
    @include size(50px);
  }

  .vote-no {
    margin-left:36px;
    @include size(50px);
  }

  .overlay-yes {
    bottom: 0;
    left: 0;
    right: 0;
    width: $imgWidth;
    height: $imgWidth;
    background: rgba(74, 171, 72, 0.8);
    display: block;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s;
    margin: auto;
    z-index: 100;
    & .big-yes {
      margin: 40px 0 0 40px;
      @include size($svgBig);
    }
  }

  .overlay-no {
    bottom: 0;
    left: 0;
    right: 0;
    width: $imgWidth;
    height: $imgWidth;
    background: rgba(186, 39, 39, 0.8);
    display: block;
    position: absolute;
    overflow: hidden;
    transition: all 0.5s;
    margin: auto;
    z-index: 101;
    & .big-no {
      margin: 40px 0 0 40px;
      @include size($svgBig);
    }
  }

  .title-stemhelper {
    margin-top: 40px!important;
    margin-bottom: 60px;
  }

  .vote-trump, .vote-clinton {
    width: 240px;
    height: 240px;
    margin-left: 30px;
  }

  .vote-percentage {
    font-size: 120px;
    height: 140px;
    margin-top: 80px;
    line-height: 3rem;
    @include Open-Sans-semibold();
  }

  .vote-result-txt {
    border-left: 6px solid $white;
    height: 240px;

    & .vote-result-content {
      padding: 10px 10px 10px 25px;
      & h4 {
        margin-bottom: 15px;
        @include Open-Sans-semibold();
        @include textcolor($white);
      }

      & p {
        @include textcolor($white);
      }
    }
  }

  .display-hidden {
    display: none;
  }

  .display {
    display: block;
    animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeInFromNone;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 0.5s;
    -ms-animation-name: fadeInFromNoneIE;
    -ms-animation-fill-mode: forwards;
  }

  @-webkit-keyframes fadeInFromNone {
    0% {
      opacity: 0
    }

    1% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes fadeInFromNoneIE {
    0% {
      opacity: 0
    }

    1% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

  @keyframes fadeInFromNone {
    0% {
      opacity: 0
    }

    1% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }

}

/* Pop */
@-webkit-keyframes pop-btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pop-btn {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.pop-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.pop-btn:hover, .pop-btn:focus, .pop-btn:active {
  -webkit-animation-name: pop-btn;
  animation-name: pop-btn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

/* Fade in */
.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;

  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  60% {
    -webkit-transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes press {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes movedown {
  from {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(140px);
    -moz-transform: translateY(140px);
    -ms-transform: translateY(140px);
    transform: translateY(140px);
  }
}

/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and min-width: 1200px
 *
 */

@media only screen and (max-width: 767px) {
  .align-center-mobile {
    @include align(horizontal);
  }

  .vote-trump {
    margin-left: 0!important;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .vote-result-txt {
    border-left: 0px!important;
  }

  .vote-percentage {
    font-size: 100px!important;
  }
}

@media only screen and (min-width: 768px) {
  .stemhelper {
    #stemhelper {
      .gestures {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}


