/**
 * Zowie Typography -
 * Version: 1.0.0
 *
 * Typography - included all typo based mixins and classes
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */

/**
 * Function for calculating remsize
 * Mixin for setting font-size for older browser and display rem-size too
 *
 * Usage exmaple: @include font-size(16px);
 */

@import "fonts"; // importing Open Sans font

$base-font-size: 16px !default;
$heading-size-1:  36px !default;
$heading-size-2:  30px !default;
$heading-size-3:  24px !default;
$heading-size-4:  20px !default;
$heading-size-5:  16px !default;
$heading-size-6:  14px !default;


@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size-new($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

body {
  @include Open-Sans-regular;
}

h1 {
  @include font-size-new($heading-size-1);
}

h2 {
  @include font-size-new($heading-size-2);
}

h3 {
  @include font-size-new($heading-size-3);
}

h4 {
  @include font-size-new($heading-size-4);
}

h5 {
  @include font-size-new($heading-size-5);
}

h6 {
  @include font-size-new($heading-size-6);
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

p {
  line-height: 1.3rem;
}


/**
 * Mixin for calculating rem size with line-height
 *
 * Usage exmaple: @include line-height(16);
 */

@mixin line-height($height-val: 12) {
  line-height: $height-val * 1px; // pixel fallback for old browsers FDB
  line-height: (1 / ($base-font-size / ($base-font-size * 0 + 1 )) * $height-val * 1rem);
}