/**
 * Zowie Verkiezingen -
 * Version: 1.0.0
 *
 * Verkiezingen stylesheet
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */
@import "colors";
@import "fonts";

.verkiezingen {
  width: 100%;
  & #verkiezingen {
    & h3 {
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 80px;
      @include Open-Sans-bold;
      & span {
        border-bottom: 2px solid $white;
        padding-bottom: 3px;
        display: inline-block;
      }
    }

    & p {
      margin-top: 25px;
      margin-bottom: 80px;
      text-align: center;
      color: $white;
      @include Open-Sans-light;
    }
  }
}

/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and min-width: 1200px
 *
 */

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}


