/**
 * Zowie Video -
 * Version: 1.0.0
 *
 * Video
 *
 * Zowie van Geest - zowie@zowievangeest.nl
 */


@import "colors";
@import "fonts";
@import "helpers";
@import "effects";
@import "typography";
@import "helpers";

.video {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
  background-size: cover;
}

.video video {
  position: absolute;
  top: 55%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.vid-index {
  z-index: -1;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

.block-fill-height {
  width: 100%;
  height: 100vh;
}

.black-opacity {
  background: rgba(black, 0.8);
}

.video-content {
  margin-top: 100px;
  .btn-video {
    width: 200px;
    background: transparent;
    border: 3px solid $primarycolor;
    cursor: pointer;
    z-index: 100;
    border-radius: 0;
    @include align(horizontal);
    &:hover {
      background: $primarycolor;
      border: 3px solid $primarycolor;
      color: $white;
      -webkit-transition: background-color .15s ease-in-out,color .15s ease-in-out;
      -moz-transition: background-color .15s ease-in-out,color .15s ease-in-out;
      -ms-transition: background-color .15s ease-in-out,color .15s ease-in-out;
      -o-transition: background-color .15s ease-in-out,color .15s ease-in-out;
      transition: background-color .15s ease-in-out,color .15s ease-in-out;
    }
  }

  .scroll-down-text {
    color: $white;
    text-align: center;
    z-index: 100;
    margin-top: 80px;
    @include font-size-new(16px);
    @include Open-Sans-semibold;
  }

  .down-blink {
    width:100px;
    text-align: center;
    color: $white;
    font-size: 140px;
    -webkit-transform: rotate(90deg)!important;
    z-index: 100;
    margin-top: 50px;
    @include align(horizontal);
  }

  .down-blink span {
    font-size: 80px;
    -webkit-animation-name: blink;
    -moz-animation-name: blink;
    -o-animation-name: blink;
    animation-name: blink;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  .down-blink span:nth-child(2) {
    animation-delay: .2s;
  }

  .down-blink span:nth-child(3) {
    animation-delay: .4s;
  }

  .down-blink span:nth-child(4) {
    animation-delay: .6s;
  }

  .down-blink span:nth-child(5) {
    animation-delay: .8s;
  }

  .down-blink span:nth-child(6) {
    animation-delay: 1s;
  }

  .move-down {
    text-align: center;
    -webkit-animation-name: blink-move-down;
    -moz-animation-name: blink-move-down;
    -o-animation-name: blink-move-down;
    animation-name: blink-move-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: 100;
    margin-top: 150px;
    @include size(40px);
    @include align(horizontal);
  }
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@keyframes blink-move-down {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}

/**
 * Media queries
 *
 * media only screen and max-width: 767px
 * media only screen and min-width: 768px
 * media only screen and min-width: 992px
 * media only screen and min-width: 1200px
 *
 */

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) {
  .menu-wrapper {
    position: fixed;
  }
  .video-content {
    margin-top: 0;
    @include align();
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}